*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.ctn {
  border: 10px solid black;
  /* height: 100vh; */
}

.header {
  width: 900px;
  border: 3px solid black;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 7px;
  font-size: 25px;
  font-weight: bold;
}

.body {
  width: 900px;
  margin: 10px auto;
  display: flex;
}

.main-tittle {
  width: 70%;
  display: flex;
  align-items: flex-end;
}

.main-tittle p {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding: 0 20px;
}

.aside-tittle-link, .main-tittle {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2)50%, rgba(0, 0, 0, 0.9));
}

.aside-tittle {
  width: 30%;
}

.for-height {
  border: 1px solid rgb(177, 52, 52);
  height: 400px;
}

.aside-tittle-link {
  height: 50%;
  border: 1px solid rgb(73, 66, 66);
}

.articles {
  width: 900px;
  margin: 10px auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.article-link {
  width: calc(25% - 20px);
  border: 2px solid black;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.article-link img {
  width: 100%;
}

.foot {
  border: 5px solid red;
  height: 40vh;
  background-color: rgb(112, 103, 103);
}

.icon {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0 auto;
  font-size: 15px;
  width: 30%;
  align-items: center;
}

.icons {
  border-radius: 50%;
  padding: 10px 15px;
  color: white;
  background-color: tomato;
}

.write {
  display: flex;
  justify-content: center;
  color: wheat;
  font-size: 20px;
}

.event {
  margin: 35px 20px;
}

.div {
  display: flex;
  justify-content: center;
}